.header {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  text-decoration: none;
}
.header .header_right {
  display: flex;
}

